* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --black: #000;

  --white: #fff;
  --white-op-15: rgba(255, 255, 255, 0.15);
  --white-op-40: rgba(255, 255, 255, 0.4);

  --gray-200: #c4c4c4;
  --gray-200-op-20: rgba(196, 196, 196, 0.2);
  --gray-300: #b4b4b4;
  --gray-400: #999999;
  --gray-400-op-20: rgba(153, 153, 153, 0.5);
  --gray-500: #535353;
  --gray-600: #2c2c2c;
  --gray-700: #282828;
  --gray-800: #1e1e1e;
  --gray-900: #1a1a1a;
  --gray-950: #181818;
}

body,
button {
  font-family: "Open Sans", sans-serif;
}

body {
  font-size: 1.6rem;
  overflow: hidden;
}

#page {
  min-height: 100vh;
  max-width: 100vw;
  display: grid;

  grid-template-areas:
    "sidebar main"
    "footer footer";

  grid-template-columns: 24rem auto;
  grid-template-rows: auto 9.1rem;
}

/* sidebar */
#sidebar {
  padding: 1.6rem;
  background-color: var(--black);

  grid-area: sidebar;
}

nav ul,
.playlists ul {
  display: flex;

  list-style: none;
  flex-direction: column;
}

nav ul a,
.playlists ul a {
  padding: 0.8rem 0 0.8rem 2.4rem;

  text-decoration: none;
}

nav ul a:hover > li,
.playlists ul a:hover > li {
  color: var(--white);
}

nav ul .selected {
  border-radius: 0.4rem;
  background-color: var(--white-op-15);
}
nav ul .selected li {
  color: var(--white);
}

nav ul li,
.playlists ul li {
  display: flex;
  gap: 1.6rem;
  align-items: center;

  font-size: 1.4rem;
  font-weight: 700;
  color: var(--gray-400);
}

.playlists {
  margin-top: 2.4rem;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--gray-700);

  margin: 0.8rem 0;
}

.playlists-list {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.8rem;
  gap: 0.8rem;

  list-style: none;
}

.playlists-list li a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--gray-400);
}

.playlists-list li a:hover {
  color: var(--gray-200);
}

/* main */
main {
  max-height: calc(100vh - 9.1rem);
  grid-area: main;

  display: flex;
  flex-direction: column;
}

.main-header {
  width: 100%;
  padding: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gray-800);
}

.main-header .back {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-200-op-20);

  cursor: pointer;
}

.back img {
  transform: translate(-10%);
}

.main-header .back:hover {
  box-shadow: 0 0 0.4rem 0.1rem var(--white-op-40);
}

.main-header .avatar-img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;

  border: 1px solid var(--gray-700);
  cursor: pointer;
}

.avatar-img img {
  width: 100%;
}

.main-body {
  overflow-y: scroll;
}

/* Scroll bar main content */
.main-body::-webkit-scrollbar {
  background-color: var(--gray-800);
}
.main-body::-webkit-scrollbar-thumb {
  height: 5rem;
  width: 0.8rem;
  background-color: var(--gray-400-op-20);
}

.main-recently-heard {
  padding: 1.6rem;
  background-color: var(--gray-800);
}

.main-recently-heard h2 {
  color: var(--white);
  font-size: 3.2rem;
  font-weight: bold;
}

.main-recently-heard .recently-heard {
  margin-top: 1.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;
}

.horizontal-card {
  display: flex;

  border-radius: 0.4rem;
  overflow: hidden;

  cursor: pointer;
}
.horizontal-card:hover {
  transform: scale(1.02);
}

.horizontal-card-img {
  height: 8rem;
}
.horizontal-card-img img {
  height: 100%;
}

.horizontal-card-title {
  width: 100%;
  display: flex;
  align-items: center;

  background-color: var(--white-op-15);

  padding-left: 1.6rem;
}

.horizontal-card-title p {
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 700;
}

/* MAIN SECTION */
.main-section {
  background-color: var(--gray-900);
  padding: 4rem 1.6rem 3rem;
}

.main-section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-section-header h2 {
  color: var(--white);
  font-size: 2.4rem;
  font-weight: 700;
}
.main-section-header p {
  color: var(--gray-400);
  font-size: 1.4rem;
  font-weight: 400;
}

.main-section-header a {
  color: var(--gray-400);
  font-size: 1.6rem;
  font-weight: 600;

  text-transform: uppercase;
  text-decoration: none;
}
.main-section-header a:hover {
  color: var(--gray-200);
}

/* CARD */
.cards {
  margin-top: 1.6rem;
  display: flex;
  justify-content: space-between;
  /* gap: 2.4rem; */
}

.card {
  width: 25.6rem;
  background-color: var(--gray-800);
  border-radius: 0.4rem;
  padding: 1.6rem 1.6rem 1.2rem;

  cursor: pointer;
}

.card:hover {
  transform: scale(1.02);
}

.card-img {
  width: 100%;
  border-radius: 0.4rem;

  overflow: hidden;
}

.card-img img {
  width: 100%;
}

.card-description {
  margin-top: 1.8rem;
}
.card-description h3 {
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 700;
}
.card-description p {
  color: var(--gray-400);
  font-size: 1.4rem;
  font-weight: 400;
}

/* footer */
footer {
  grid-area: footer;

  border-top: 1px solid var(--gray-700);
  background-color: var(--gray-950);

  display: flex;
  justify-content: space-between;

  padding: 0 2rem;

  position: relative;
}

.playing {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.playing .album-image {
  width: 6rem;
  height: 6rem;
  border-radius: 0.8rem;
  overflow: hidden;
}

.playing .album-image img {
  width: 100%;
}

.playing .music-info h2 {
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 400;
}

.playing .music-info p {
  color: var(--gray-300);
  font-size: 1.2rem;
  font-weight: 400;
}

#like {
  cursor: pointer;
}

/* music options */
.music-options {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;

  justify-content: center;
  transform: translateX(calc((100vw / 2) - 50%));
  position: absolute;
}

.options {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.options .pause {
  display: grid;
  place-items: center;

  width: 3.4rem;
  height: 3.4rem;
  border-radius: 100%;
  background-color: var(--white);
  cursor: pointer;
}

.timebar {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.timebar p {
  font-size: 1.2rem;
  color: var(--gray-300);
}

.timebar .music-bar {
  cursor: pointer;
  appearance: none;
  display: inline-block;
  width: 30rem;
  height: 0.4rem;
  border-radius: 0.5rem;
  background-color: var(--gray-500);
  outline: none;

  overflow: hidden;
}

.timebar .music-bar::-webkit-slider-thumb {
  appearance: none;
  border: none;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: var(--gray-200);

  transition: 0.2s ease;

  box-shadow: -30rem 0 0 30rem var(--gray-200);
}

/* general */
.general-options {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.general-options img {
  cursor: pointer;
}

.general-options input[type="range"] {
  cursor: pointer;
  appearance: none;
  display: inline-block;
  width: 10rem;
  height: 0.4rem;
  border-radius: 0.5rem;
  background-color: var(--gray-500);
  outline: none;

  overflow: hidden;
}

.general-options input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  border: none;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: var(--gray-200);

  transition: 0.2s ease;

  box-shadow: -10rem 0 0 10rem var(--gray-200);
}
